<tr>
  <td><%- c.courseId %></td>
  <td><%- c.courseName %></td>
  <td><%- c.tname %></td>
  <td><%- c.credit %></td>
  <td><%- c.size %></td>
  <td><button onclick="<%- handler %>('<%- c.courseId %>' , '<%- c.teacherId %>')" class="btn btn-default"><%- buttontext %></button></td>
</tr>